{% extends "base/base.html" %}
{% block titulo %}Lista de Beneficios{% endblock %}
{% block contenido %}
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success' %}  <div class="message" role="status">{{ message }}</div>{% endif %}
            {% if message.tags == 'error' %}  <div class="errors" role="alert">{{ message }}</div>{% endif %}
        {% endfor %}
    {% endif %}
    <h2>Lista de Beneficios</h2>
    <table>
        <tr>
            <th>Programa</th>
            <th>Persona</th>
            <th>Fecha Entrega</th>
        </tr>
        {% for beneficio in beneficios %}
            <tr>
                <td>{{ beneficio.programa}}</td>
                <td>{{ beneficio.persona }}</td>
                <td>{{ beneficio.fecha_entrega }}</td>
            </tr>
        {% endfor %}
    </table>
    <br>
    <a href="{% url 'programa:asignarform' %}"><button>Asignar un Beneficio</button></a>
{% endblock %}